<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">

      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <a href="#" class="navbar-brand">TeamPerec</a>
        <li class="nav-item">
          <a href="/caffs" class="nav-link" *ngIf="isLoggedIn" routerLink="caffs">Browse CAFFs</a>
        </li>
        <li class="nav-item">
          <a href="/my-caffs" class="nav-link" *ngIf="isLoggedIn" routerLink="my-caffs">My CAFFs</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a *ngIf="showAdmin" href="/profile" class="nav-link" routerLink="profile">(ADMIN) {{ username }}</a>
          <a *ngIf="!showAdmin" href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
