<div class="card text-bg-dark mb-3" style="max-width: 380px;width:380px;">
  <div class="row g-0 p-2">
    <div class="col-md-6 d-flex align-items-center">
      <img [src]="previewGifImage" class="img-fluid rounded" alt="...">
    </div>
    <div class="col-md-6 d-flex flex-row align-content-between justify-content-end flex-wrap">
      <div class="card-body text-end">
        <h5 class="card-title">Name</h5>
        <p class="card-text text-truncate">{{ caff.name }}</p>
        <h5 class="card-title">Uploader</h5>
        <p class="card-text text-truncate"
           [routerLink]="['/details-profile', caff.uploader]">{{ caff.uploaderName }}</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-light btn-block search-button" [routerLink]="['/details-caff', caff.id]">Details</button>
      </div>
    </div>
  </div>
</div>
