<div class="card text-bg-dark mb-3" style="max-width: 400px;">
  <div class="row g-0 p-2">
    <div class="col-md-5">
      <img src="https://cdn.pixabay.com/photo/2022/11/01/05/18/coffee-7561288_960_720.jpg"
           class="img-fluid rounded" alt="...">
    </div>
    <div class="col-md-7 text-end">
      <div class="card-body">
        <h5 class="card-title">Name</h5>
        <p class="card-text">{{ caff.name }}</p>
        <h5 class="card-title">Uploader</h5>
        <p class="card-text" [routerLink]="['/details-profile', caff.uploader]">{{ caff.uploader }}</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-light btn-block search-button"  [routerLink]="['/details-caff', caff.id]">Details</button>
      </div>
    </div>
  </div>
</div>
