<div class="mt-2">
  <h2>Browse CAFFs</h2>
  <form
    class="search-form mb-3 mt-3"
    name="form"
    (ngSubmit)="onSubmit()"
    #f="ngForm"
    novalidate
  >
    <div class="form-group">
      <label for="name_search">Name</label>
      <input
        id="name_search"
        type="text"
        class="form-control"
        name="name"
        [(ngModel)]="form.name"
        #name="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="uploader_search">Uploader</label>
      <input
        id="uploader_search"
        type="text"
        class="form-control"
        name="uploader"
        [(ngModel)]="form.uploader"
        #uploader="ngModel"
      />
    </div>
    <div class="form-group">
      <button class="btn btn-dark btn-block search-button">Search</button>
    </div>
  </form>
  <div class="caffs-container">
    <app-caff-card *ngFor="let caff of caffs" [caff]="caff" ></app-caff-card>
  </div>
</div>
