<div class="mt-2">
  <h2 class="mb-3">Profile Details</h2>
  <div class="rounded-3 text-bg-dark p-2">
    <div class="row p-2">
      <div class="col-md-4 left-container">
        <div>
          <h5>Name</h5>
          <p>xdddd</p>
          <h5>Email</h5>
          <p>asdf@asd.ca</p>
        </div>
        <div class="d-flex">
          <button class="btn btn-light btn-block w-100 search-button me-md-3">Edit</button>
          <button class="btn btn-danger btn-block w-100 search-button ms-md-3">Delete</button>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Caffs</h5>
        <app-caff-card-minimal></app-caff-card-minimal>
        <app-caff-card-minimal></app-caff-card-minimal>
        <app-caff-card-minimal></app-caff-card-minimal>
        <app-caff-card-minimal></app-caff-card-minimal>
        <app-caff-card-minimal></app-caff-card-minimal>
        <app-caff-card-minimal></app-caff-card-minimal>
        <app-caff-card-minimal></app-caff-card-minimal>
      </div>
      <div class="col-md-4">
        <h5>Downloads</h5>
        <app-downloaded-caff-card></app-downloaded-caff-card>
        <app-downloaded-caff-card></app-downloaded-caff-card>
      </div>

    </div>
  </div>

</div>
